html {
  height: 100vh;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Styles de l'application */
.App {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #272a28;
}

/* Styles du header */
header {
  background: #272a28;
  padding: 20px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header p {
  margin-bottom: 0;
}

.header_logo {
  display: flex;
  align-items: center;
  width: 80px;
  height: 80px;
  /* margin-bottom: 20px; */
}

.header_icon {
  width: 30px;
  height: 30px;
}

/* Styles de la navigation */
nav {
  display: flex;
  gap: 15px;
}

nav a {
  color: white;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

/* Styles de la section HomePage */
/* .HomePage_section_top {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: calc(100vh - 120px);
  background-color: #282c34;
  color: white;
}  */

/* Styles de ProductList */
.productlist {
  color : white;
}

/* Styles de Product */
.product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* width: 100%; */
  max-width: 600px;
  /* margin: auto; */
  margin : 0 5vw 0 5vw;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin-bottom: 2.5rem;
  /* background-color: #fff; */
}

.product_details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
}

.product_pc {
  width: 100%;
  height: auto;
  /* border-radius: 10px; */
  margin-bottom: 10px;
}

.product_icon {
  width: 30px;
  height: 30px;
  margin-bottom: 10px;
}

/* Styles des boutons */
button {
  background: #f69217;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  color: white;
  font-size: 14px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

button:hover {
  background: #f69217;
}

/* Styles du footer */
footer {
  background: #272a28;
  color: white;
  padding: 20px 0;
  text-align: center;
  position: relative;
  width: 100%;
  bottom: 0;
  margin-top: 50px;
}

.footer-content {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 5vw 0 5vw;
}

.footer-links {
  display: flex;
  gap: 15px;
}

.footer-links a {
  color: #f69217;
  text-decoration: none;
}

.footer-links a:hover {
  text-decoration: underline;
}

/* Styles de la section Niveau */
/* .niveau {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  max-width: 600px;
  margin: auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin-bottom: 2.5rem;
  background-color: #fff;
}

.niveau h2 {
  font-size: 1.5rem;
  color: #282c34;
  margin-bottom: 10px;
}

.niveau img {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
} */

@media (max-width: 600px) {
  .niveau {
    width: 95%;
    padding: 10px;
  }

  .niveau h2 {
    font-size: 1.2rem;
  }

  .niveau img {
    width: 40px;
    height: 40px;
  }

  /* Styles de Product */
  .product {
    max-width: 400px;
  }

  .footer-content {
    flex-direction: column;
    align-items: center;
    font-size: 0.8rem;
  }

  .footer-content p {
    text-align: center;
  }

  .footer-links {
    margin-right: 15px;
  }
}